@font-face {
    font-family: 'Avenir Next Medium';
    src: url("../fonts/AvenirNext-Medium.ttf");
}

@font-face {
    font-family: 'Avenir Next Bold';
    src: url("../fonts/AvenirNext-Bold.ttf");
}

@font-face {
    font-family: 'Avenir Next Regular';
    src: url("../fonts/AvenirNext-Regular.ttf");
}

@font-face {
    font-family: 'Avenir Next Light';
    src: url("../fonts/AvenirNext-UltraLight.ttf");
}

@font-face {
    font-family: 'Avenir Next Italic';
    src: url("../fonts/AvenirNext-Italic.ttf");
}

table .bg-primary {
    background-color: #0E1558 !important;
}

.radius-10 {
    border-radius: 10px;
}

.radius-5 {
    border-radius: 5px;
}

.radius-8 {
    border-radius: 8px;
}

.m-5 {
    margin: 5px;
}

.m-10 {
    margin: 10px;
}


.text-primary {
    color: #14AAE0 !important;
}

.bold {
    font-family: "Avenir Next Bold", fantasy;
    font-weight: bold;
}

.medium {
    font-family: "Avenir Next Medium", fantasy;
    font-weight: 600;
}

.underline {
    text-decoration: underline;
}

body {
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgba(71, 69, 71, 0.14);
    font-family: "Avenir Next Regular", fantasy;
    /*font-size: 20px;*/
    /*line-height: .8cm;*/
    width: 100%;
    padding-top: env(safe-area-inset-top); /* Fix header */
    padding-bottom: env(safe-area-inset-bottom); /* Fix footer */
}


* {
    box-sizing: border-box;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-content {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    min-height: 100dvh;
}

.credit {
    padding: 20px 10px;
    font-size: 10px;
    background-color: #F4FCFF;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*left: 0*/
}

.fade-in {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

#loadingIndicator {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    color: white;
    align-items: center;
    z-index: 1000;
    display: none; /* Initially hidden */
}

/* Spinner */
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top-color: white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px) {
    .row-no-gutter {
        margin-right: 20px;
        margin-left: 20px;
    }

    .title-text {
        font-size: 20px;
    }

    .card-body {
        padding: 1rem !important;
    }
}


.mobile-content {
    min-height: 100dvh;
    width: 100%;
    overflow-y: auto;
    flex-direction: column;
    display: flex;
    flex: 1;
    background-color: #F4FCFF;
    max-width: 480px;
    margin: 0 auto;
    padding: 1rem 1rem 150px;
}

.form-group {
    margin-bottom: 15px
}


#question-view {
    font-family: "Century Schoolbook";
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    font-style: normal;
}

#dialogoverlay {
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #FFF;
    width: 100%;
    z-index: 10;
}

#dialogbox {
    display: none;
    position: fixed;
    background: silver;
    text-align: center;
    border-radius: 7px;
    width: 350px;
    z-index: 10;
}

#editable {
    border-style: groove;
    padding: 20px;

}

#dialogbox > div {
    background: transparent;
    margin: 8px;
}

.head > span {
    margin-right: 180px;
}

.head {
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: sans-serif;
    display: inline-block;
}

.body_header {
    margin-top: 20px;
    margin-bottom: 30px;

}

#span_gh {
    font-size: 20px;
}

#dialogbox > div > #dialogboxhead {
    background: #a6a6a6;
    font-size: 19px;
    padding: 10px;
    color: red;
}

#dialogbox > div > #dialogboxbody {
    background: silver;
    padding: 20px;
    color: black;
}

#dialogbox > div > #dialogboxfoot {
    background: #a6a6a6;
    padding: 10px;
    text-align: right;
}

.btn-nav {
    margin-bottom: 20px;
}

.choices {
    padding: 7px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.options {
    margin-left: 20px;
    margin-right: 20px;
}

.opt {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
}

.dashboard {
    width: 90%;
    margin: auto;
    padding: 7px;
    border-radius: 5px;
    border: 1px #ccc solid;
    position: relative;
}

.quest {
    width: 90%;
    margin: auto;
    padding: 7px;
    border-radius: 5px;
    border: 1px #ccc solid;
    position: relative;
}

.dashboard > div {
    float: left;
    width: 50%;
}

.dashboard > h2 {
    text-align: center;
}

.dashboard:after {
    content: "";
    display: table;
    clear: both;
}

.collect {
    width: 100%;
    height: 300px;
    top: 50%;
    left: 0;

    position: relative;
}

.con {
    text-align: center;
    margin-top: 150px;
}

.collect > div {
    position: absolute;
    top: 50%;
    text-align: center;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width: 100%;

}

footer {
    text-align: center;
    margin-top: 10px;
    width: 90%;
    padding-top: 5px;
}

input[type="text"] {
    /*width: 50%;*/
    padding: 7px;
    border-radius: 5px;
    border: 1px #ccc solid;
}

input[type="number"] {
    /*width: 50px;*/
    padding: 7px;
    border-radius: 5px;
    border: 1px #ccc solid;

}

.bdd {
    margin: 0 auto;
    vertical-align: middle;
    overflow: auto;
}

.nextbuttoncontainer {
    position: absolute;
    top: 530px;
    left: 830px;
}

.backbutton, .nextbutton, .restartbutton {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    color: white;
    text-align: center;
    background-color: #3c763d;
    text-shadow: 0 0 1px rgba(7, 76, 146, 0.2);
}

.btn {
    background: #004c97;
}


.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none
    }
}

.btn:hover {
    color: #212529;
    text-decoration: none
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.btn.disabled, .btn:disabled {
    opacity: .65
}

a.btn.disabled, fieldset:disabled a.btn {
    pointer-events: none
}

.btn-primary {
    color: #fff;
    padding: 10px 20px !important;
    background-color: #14AAE0 !important;
    border-color: #14AAE0 !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #14AAE0;
    border-color: #14AAE0
}

.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(38, 143, 255, .5)
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #083e59 !important;
    border-color: #0c779c
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #14AAE0;
    border-color: #0c779c
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(20, 170, 224, 0.75)
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d
}

.btn-secondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62
}

.btn-secondary.focus, .btn-secondary:focus {
    box-shadow: 0 0 0 .2rem rgba(130, 138, 145, .5)
}

.btn-secondary.disabled, .btn-secondary:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(130, 138, 145, .5)
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34
}

.btn-success.focus, .btn-success:focus {
    box-shadow: 0 0 0 .2rem rgba(72, 180, 97, .5)
}

.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745
}

.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #1e7e34;
    border-color: #1c7430
}

.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show > .btn-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(72, 180, 97, .5)
}

.btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8
}

.btn-info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b
}

.btn-info.focus, .btn-info:focus {
    box-shadow: 0 0 0 .2rem rgba(58, 176, 195, .5)
}

.btn-info.disabled, .btn-info:disabled {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #117a8b;
    border-color: #10707f
}

.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show > .btn-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(58, 176, 195, .5)
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107
}

.btn-warning:hover {
    color: #212529;
    background-color: #e0a800;
    border-color: #d39e00
}

.btn-warning.focus, .btn-warning:focus {
    box-shadow: 0 0 0 .2rem rgba(222, 170, 12, .5)
}

.btn-warning.disabled, .btn-warning:disabled {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107
}

.btn-warning:not(:disabled):not(.disabled).active, .btn-warning:not(:disabled):not(.disabled):active, .show > .btn-warning.dropdown-toggle {
    color: #212529;
    background-color: #d39e00;
    border-color: #c69500
}

.btn-warning:not(:disabled):not(.disabled).active:focus, .btn-warning:not(:disabled):not(.disabled):active:focus, .show > .btn-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(222, 170, 12, .5)
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130
}

.btn-danger.focus, .btn-danger:focus {
    box-shadow: 0 0 0 .2rem rgba(225, 83, 97, .5)
}

.btn-danger.disabled, .btn-danger:disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
}

.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show > .btn-danger.dropdown-toggle {
    color: #fff;
    background-color: #bd2130;
    border-color: #b21f2d
}

.btn-danger:not(:disabled):not(.disabled).active:focus, .btn-danger:not(:disabled):not(.disabled):active:focus, .show > .btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(225, 83, 97, .5)
}

.btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa
}

.btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5
}

.btn-light.focus, .btn-light:focus {
    box-shadow: 0 0 0 .2rem rgba(216, 217, 219, .5)
}

.btn-light.disabled, .btn-light:disabled {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa
}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show > .btn-light.dropdown-toggle {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df
}

.btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show > .btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(216, 217, 219, .5)
}

.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40
}

.btn-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124
}

.btn-dark.focus, .btn-dark:focus {
    box-shadow: 0 0 0 .2rem rgba(82, 88, 93, .5)
}

.btn-dark.disabled, .btn-dark:disabled {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40
}

.btn-dark:not(:disabled):not(.disabled).active, .btn-dark:not(:disabled):not(.disabled):active, .show > .btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #1d2124;
    border-color: #171a1d
}

.btn-dark:not(:disabled):not(.disabled).active:focus, .btn-dark:not(:disabled):not(.disabled):active:focus, .show > .btn-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(82, 88, 93, .5)
}

.btn-outline-primary {
    color: #007bff;
    border-color: #007bff
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #007bff;
    background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .5)
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d
}

.btn-outline-secondary.focus, .btn-outline-secondary:focus {
    box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5)
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
    color: #6c757d;
    background-color: transparent
}

.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d
}

.btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(108, 117, 125, .5)
}

.btn-outline-success {
    color: #28a745;
    border-color: #28a745
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745
}

.btn-outline-success.focus, .btn-outline-success:focus {
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5)
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
    color: #28a745;
    background-color: transparent
}

.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show > .btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745
}

.btn-outline-success:not(:disabled):not(.disabled).active:focus, .btn-outline-success:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(40, 167, 69, .5)
}

.btn-outline-info {
    color: #17a2b8;
    border-color: #17a2b8
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8
}

.btn-outline-info.focus, .btn-outline-info:focus {
    box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5)
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
    color: #17a2b8;
    background-color: transparent
}

.btn-outline-info:not(:disabled):not(.disabled).active, .btn-outline-info:not(:disabled):not(.disabled):active, .show > .btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8
}

.btn-outline-info:not(:disabled):not(.disabled).active:focus, .btn-outline-info:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(23, 162, 184, .5)
}

.btn-outline-warning {
    color: #ffc107;
    border-color: #ffc107
}

.btn-outline-warning:hover {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107
}

.btn-outline-warning.focus, .btn-outline-warning:focus {
    box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5)
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
    color: #ffc107;
    background-color: transparent
}

.btn-outline-warning:not(:disabled):not(.disabled).active, .btn-outline-warning:not(:disabled):not(.disabled):active, .show > .btn-outline-warning.dropdown-toggle {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107
}

.btn-outline-warning:not(:disabled):not(.disabled).active:focus, .btn-outline-warning:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-warning.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5)
}

.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
}

.btn-outline-danger.focus, .btn-outline-danger:focus {
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5)
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
    color: #dc3545;
    background-color: transparent
}

.btn-outline-danger:not(:disabled):not(.disabled).active, .btn-outline-danger:not(:disabled):not(.disabled):active, .show > .btn-outline-danger.dropdown-toggle {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
}

.btn-outline-danger:not(:disabled):not(.disabled).active:focus, .btn-outline-danger:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5)
}

.btn-outline-light {
    color: #f8f9fa;
    border-color: #f8f9fa
}

.btn-outline-light:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa
}

.btn-outline-light.focus, .btn-outline-light:focus {
    box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5)
}

.btn-outline-light.disabled, .btn-outline-light:disabled {
    color: #f8f9fa;
    background-color: transparent
}

.btn-outline-light:not(:disabled):not(.disabled).active, .btn-outline-light:not(:disabled):not(.disabled):active, .show > .btn-outline-light.dropdown-toggle {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa
}

.btn-outline-light:not(:disabled):not(.disabled).active:focus, .btn-outline-light:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(248, 249, 250, .5)
}

.btn-outline-dark {
    color: #343a40;
    border-color: #343a40
}

.btn-outline-dark:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40
}

.btn-outline-dark.focus, .btn-outline-dark:focus {
    box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5)
}

.btn-outline-dark.disabled, .btn-outline-dark:disabled {
    color: #343a40;
    background-color: transparent
}

.btn-outline-dark:not(:disabled):not(.disabled).active, .btn-outline-dark:not(:disabled):not(.disabled):active, .show > .btn-outline-dark.dropdown-toggle {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40
}

.btn-outline-dark:not(:disabled):not(.disabled).active:focus, .btn-outline-dark:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5)
}

.btn-link {
    font-weight: 400;
    color: #007bff;
    text-decoration: none
}

.btn-link:hover {
    color: #0056b3;
    text-decoration: underline
}

.btn-link.focus, .btn-link:focus {
    text-decoration: underline;
    box-shadow: none
}

.btn-link.disabled, .btn-link:disabled {
    color: #6c757d;
    pointer-events: none
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6
}

.table-sm td, .table-sm th {
    padding: .3rem
}

.table-bordered {
    border: 1px solid #dee2e6
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6
}

.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px
}

.table-borderless tbody + tbody, .table-borderless td, .table-borderless th, .table-borderless thead th {
    border: 0
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05)
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, .075)
}

.table-primary, .table-primary > td, .table-primary > th {
    background-color: #b8daff
}

.table-primary tbody + tbody, .table-primary td, .table-primary th, .table-primary thead th {
    border-color: #7abaff
}

.table-hover .table-primary:hover {
    background-color: #9fcdff
}

.table-hover .table-primary:hover > td, .table-hover .table-primary:hover > th {
    background-color: #9fcdff
}

.table-secondary, .table-secondary > td, .table-secondary > th {
    background-color: #d6d8db
}

.table-secondary tbody + tbody, .table-secondary td, .table-secondary th, .table-secondary thead th {
    border-color: #b3b7bb
}

.table-hover .table-secondary:hover {
    background-color: #c8cbcf
}

.table-hover .table-secondary:hover > td, .table-hover .table-secondary:hover > th {
    background-color: #c8cbcf
}

.table-success, .table-success > td, .table-success > th {
    background-color: #c3e6cb
}

.table-success tbody + tbody, .table-success td, .table-success th, .table-success thead th {
    border-color: #8fd19e
}

.table-hover .table-success:hover {
    background-color: #b1dfbb
}

.table-hover .table-success:hover > td, .table-hover .table-success:hover > th {
    background-color: #b1dfbb
}

.table-info, .table-info > td, .table-info > th {
    background-color: #bee5eb
}

.table-info tbody + tbody, .table-info td, .table-info th, .table-info thead th {
    border-color: #86cfda
}

.table-hover .table-info:hover {
    background-color: #abdde5
}

.table-hover .table-info:hover > td, .table-hover .table-info:hover > th {
    background-color: #abdde5
}

.table-warning, .table-warning > td, .table-warning > th {
    background-color: #ffeeba
}

.table-warning tbody + tbody, .table-warning td, .table-warning th, .table-warning thead th {
    border-color: #ffdf7e
}

.table-hover .table-warning:hover {
    background-color: #ffe8a1
}

.table-hover .table-warning:hover > td, .table-hover .table-warning:hover > th {
    background-color: #ffe8a1
}

.table-danger, .table-danger > td, .table-danger > th {
    background-color: #f5c6cb
}

.table-danger tbody + tbody, .table-danger td, .table-danger th, .table-danger thead th {
    border-color: #ed969e
}

.table-hover .table-danger:hover {
    background-color: #f1b0b7
}

.table-hover .table-danger:hover > td, .table-hover .table-danger:hover > th {
    background-color: #f1b0b7
}

.table-light, .table-light > td, .table-light > th {
    background-color: #fdfdfe
}

.table-light tbody + tbody, .table-light td, .table-light th, .table-light thead th {
    border-color: #fbfcfc
}

.table-hover .table-light:hover {
    background-color: #ececf6
}

.table-hover .table-light:hover > td, .table-hover .table-light:hover > th {
    background-color: #ececf6
}

.table-dark, .table-dark > td, .table-dark > th {
    background-color: #c6c8ca
}

.table-dark tbody + tbody, .table-dark td, .table-dark th, .table-dark thead th {
    border-color: #95999c
}

.table-hover .table-dark:hover {
    background-color: #b9bbbe
}

.table-hover .table-dark:hover > td, .table-hover .table-dark:hover > th {
    background-color: #b9bbbe
}

.table-active, .table-active > td, .table-active > th {
    background-color: rgba(0, 0, 0, .075)
}

.table-hover .table-active:hover {
    background-color: rgba(0, 0, 0, .075)
}

.table-hover .table-active:hover > td, .table-hover .table-active:hover > th {
    background-color: rgba(0, 0, 0, .075)
}

.table .thead-dark th {
    color: #fff;
    background-color: #343a40;
    border-color: #454d55
}

.table .thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6
}

.table-dark {
    color: #fff;
    background-color: #343a40
}

.table-dark td, .table-dark th, .table-dark thead th {
    border-color: #454d55
}

.table-dark.table-bordered {
    border: 0
}

.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, .05)
}

.table-dark.table-hover tbody tr:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, .075)
}

@media (max-width: 479.98px) {
    .table-responsive-xxs {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }

    .table-responsive-xxs > .table-bordered {
        border: 0
    }
}

@media (max-width: 575.98px) {
    .table-responsive-xs {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }

    .table-responsive-xs > .table-bordered {
        border: 0
    }
}

@media (max-width: 666.98px) {
    .table-responsive-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }

    .table-responsive-sm > .table-bordered {
        border: 0
    }
}

@media (max-width: 767.98px) {
    .table-responsive-md {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }

    .table-responsive-md > .table-bordered {
        border: 0
    }
}

@media (max-width: 991.98px) {
    .table-responsive-lg {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }

    .table-responsive-lg > .table-bordered {
        border: 0
    }
}

@media (max-width: 1199.98px) {
    .table-responsive-xl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }

    .table-responsive-xl > .table-bordered {
        border: 0
    }
}

@media (max-width: 1439.98px) {
    .table-responsive-xxl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }

    .table-responsive-xxl > .table-bordered {
        border: 0
    }
}

@media (max-width: 1599.98px) {
    .table-responsive-xxxl {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }

    .table-responsive-xxxl > .table-bordered {
        border: 0
    }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch
}

.table-responsive > .table-bordered {
    border: 0
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 20px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none
    }
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #14AAE0;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1
}

select.form-control:focus::-ms-value {
    color: #495057;
    background-color: #fff
}

.form-control-file, .form-control-range {
    display: block;
    width: 100%
}


.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /*border: 1px solid rgba(0, 0, 0, .125);*/
    box-shadow: 0 0 20px rgba(115, 105, 215, .15);
    border-radius: .25rem
}

.card > hr {
    margin-right: 0;
    margin-left: 0
}

.card > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem
}

.card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

.card-title {
    margin-bottom: .75rem
}

.card-subtitle {
    margin-top: -.375rem;
    margin-bottom: 0
}

.card-text:last-child {
    margin-bottom: 0
}

.card-link:hover {
    text-decoration: none
}

.card-link + .card-link {
    margin-left: 1.25rem
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, .03);
    border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
}

.card-header + .list-group .list-group-item:first-child {
    border-top: 0
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0, 0, 0, .03);
    border-top: 1px solid rgba(0, 0, 0, .125)
}

.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px)
}

.card-header-tabs {
    margin-right: -.625rem;
    margin-bottom: -.75rem;
    margin-left: -.625rem;
    border-bottom: 0
}

.card-header-pills {
    margin-right: -.625rem;
    margin-left: -.625rem
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem
}

.card-img {
    width: 100%;
    border-radius: calc(.25rem - 1px)
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px)
}

.card-img-bottom {
    width: 100%;
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px)
}

.card-deck {
    display: flex;
    flex-direction: column
}

.card-deck .card {
    margin-bottom: 15px
}

@media (min-width: 667px) {
    .card-deck {
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px
    }

    .card-deck .card {
        display: flex;
        flex: 1 0 0%;
        flex-direction: column;
        margin-right: 15px;
        margin-bottom: 0;
        margin-left: 15px
    }
}


.form-check label {
    cursor: pointer
}

.form-check label:after, .form-check label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 5px
}

.form-check label:before {
    left: 3px;
    width: 22px;
    height: 22px;
    margin: -10px 0 0;
    background: #eceef3
}

.form-check label:after {
    left: 8px;
    width: 13px;
    height: 13px;
    margin: -6px 0 0;
    opacity: 0;
    background: #8e54e9;
    transform: translate3d(0, 0, 0) scale(.5);
    transition: opacity .25s ease-in-out, transform .25s ease-in-out
}

.form-check input[type=checkbox], .form-check input[type=radio] {
    position: absolute;
    top: 0;
    left: -9999px;
    visibility: hidden
}

.form-check input[type=checkbox]:checked + label:after, .form-check input[type=radio]:checked + label:after {
    transform: translate3d(0, 0, 0);
    opacity: 1
}

.form-check label:after, .form-check label:before {
    border-radius: 0
}

.form-check label:before {
    border-radius: 2px
}

.form-check label:after {
    border-radius: 2px
}

.form-check input[type=radio] + label:before {
    border-radius: 10px
}

.form-check input[type=radio] + label:after {
    border-radius: 10px;
    margin: -5px 0 0
}

.form-check input[type=radio] + label:before {
    border-radius: 50px
}

.form-control {
    height: 40px;
    border: 1px solid #dee2e6;
    color: #a6a9b7
}

.form-control:focus {
    border-color: #2980b9 !important;
    box-shadow: none
}

.form-control-lg {
    height: 50px
}

.form-control-sm {
    height: 30px
}

.form-control-plaintext {
    color: #a6a9b7
}

textarea.form-control {
    height: auto
}

select.form-control:not([size]):not([multiple]) {
    height: 40px
}

select.form-control-lg:not([size]):not([multiple]) {
    height: 50px
}

select.form-control-sm:not([size]):not([multiple]) {
    height: 30px
}

select.form-control[multiple], select.form-control[size] {
    height: auto
}

label, legend {
    font-weight: 500;
    color: #a6a9b7
}

.custom-select.is-valid, .form-control.is-valid {
    border-color: #32b432;
    box-shadow: none
}

.custom-select.is-valid:focus, .form-control.is-valid:focus {
    border-color: #32b432;
    box-shadow: none
}

.was-validated .custom-select:valid, .was-validated .form-control:valid {
    border-color: #32b432;
    box-shadow: none
}

.was-validated .custom-select:valid:focus, .was-validated .form-control:valid:focus {
    border-color: #32b432;
    box-shadow: none
}

.custom-select.is-invalid, .form-control.is-invalid {
    border-color: #e3324c;
    box-shadow: none
}

.custom-select.is-invalid:focus, .form-control.is-invalid:focus {
    border-color: #e3324c;
    box-shadow: none
}

.was-validated .custom-select:invalid, .was-validated .form-control:invalid {
    border-color: #e3324c;
    box-shadow: none
}

.was-validated .custom-select:invalid:focus, .was-validated .form-control:invalid:focus {
    border-color: #e3324c;
    box-shadow: none
}

.custom-control-input.is-invalid ~ .custom-control-label::before {
    background: #e3324c;
    background: rgba(227, 50, 76, .5) !important
}

.was-validated .custom-control-input:invalid ~ .custom-control-label::before {
    background: #e3324c;
    background: rgba(227, 50, 76, .5) !important
}

.custom-control-input.is-valid ~ .custom-control-label::before {
    background: #32b432;
    background: rgba(50, 180, 50, .5) !important
}

.was-validated .custom-control-input:valid ~ .custom-control-label::before {
    background: #32b432;
    background: rgba(50, 180, 50, .5) !important
}

.custom-control-input.is-invalid ~ .custom-control-label {
    color: #e3324c
}

.was-validated .custom-control-input:invalid ~ .custom-control-label {
    color: #e3324c
}

.valid-feedback {
    color: #32b432
}

.invalid-feedback {
    color: #e3324c
}

.valid-tooltip {
    background: #32b432;
    background: rgba(50, 180, 50, .8) !important
}

.invalid-tooltip {
    background: #e3324c;
    background: rgba(227, 50, 76, .8) !important
}

.form-check-input.is-valid ~ .form-check-label {
    color: #32b432
}

.was-validated .form-check-input:valid ~ .form-check-label {
    color: #32b432
}

.form-check-input.is-invalid ~ .form-check-label {
    color: #e3324c
}

.was-validated .form-check-input:invalid ~ .form-check-label {
    color: #e3324c
}

.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.btn.btn-round {
    border-radius: 50px
}

.btn:focus {
    box-shadow: none
}

.btn.btn-outline {
    background: 0 0
}

.instructions-container {


}

/* Headings */
.instructions-container h3.bold {
    font-size: 22px;
    font-weight: bold;
    color: #2c3e50;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.instructions-container h4 {
    font-size: 18px;
    font-weight: bold;
    color: #2980b9;
    margin-top: 20px;
}

/* Lists */
.instructions-container > ul {
    padding-left: 20px;
    list-style-type: disc;
}

.instructions-container ul li {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.instructions-container ul ul {
    margin-top: 5px;
    list-style-type: -moz-ethiopic-numeric;
    padding-left: 20px;
}

.instructions-container ul ul li {
    font-size: 14px;
    color: #555;
}

/* Strong text */
.instructions-container strong {
    color: #d35400;
}


.spelling-input {
    border-radius: 10px;
}

.btn-transparent {
    background-color: transparent;
    border: none;
    outline: none;
}

.btn-transparent:active {
    border: none;
    outline: none;
}

.btn-transparent:focus {
    border: none;
    outline: none;
}

.speaker-btn {
    width: 110px;
    height: 110px;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none; /* Hides scrollbar */
}

.no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.mobile-content::-webkit-scrollbar {
    display: none; /* Hides scrollbar */
}

.mobile-content {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.mobile-content input[type="checkbox"]:active {
    background-color: #0a8dd3;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}


.font-medium {
    font-family: "Avenir Next Medium", fantasy;
}

.font-bold {
    font-family: "Avenir Next Bold", fantasy;
}
